@use "../../sass/_variables.scss";
@use "../../sass/_mixins.scss";

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    border-radius: 15px;
    background: variables.$primary-color;
    color: white;
    text-align: center;
    font-family: Montserrat;
    padding: 0 40px;

    @media screen and (max-width: 500px) {
      height: 20px;
      padding: 1px 25px;
      border-radius: 5px;
    }
    &__text {
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      text-align: center;
      @media screen and (max-width: 500px) {
        font-size: 11px;
        line-height: 142.6%;
        font-weight: 600;
      }
    }
  }
}
