// Flexbox centering
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Flexbox space-between
@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

// Height and width
@mixin size($width, $height) {
  width: $width;
  height: $height;
}

// Font size and weight
@mixin font-style($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}
