@use "../../sass/_variables.scss";
@use "../../sass/_mixins.scss";

.host {
  display: flex;
  align-items: center;
  gap: 10px;
  @include mixins.size(167px, 64px);

  &__name {
    color: variables.$primary-color;
    text-align: right;
    @include mixins.font-style(18px, 500);
  }

  &__avatar {
    @include mixins.size(64px, 64px);
    border-radius: 50%;
    overflow: hidden;
    img {
      @include mixins.size(100%, 100%);
      object-fit: cover;
    }
  }
}
