@use "../../sass/_variables.scss";
@use "../../sass/_mixins.scss";

.gallery {
  @include mixins.flex-center;
  flex-wrap: wrap;
  gap: 60px;
  width: 100%;
  border-radius: 25px;
  background: variables.$cream;
  padding: 50px 0;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    gap: 10px;
    background: none;
    padding: 20px 0px;
  }

  @media screen and (max-width: 768px) {
    gap: 10px;
    background: none;
    padding: 0;
  }
}
