.house {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 100px;
  font-family: Montserrat;

  &_details {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    &_name {
      h1 {
        color: #ff6060;
        font-size: 36px;
        font-weight: 500;
      }
      p {
        font-size: 18px;
      }
    }
  }

  &_data {
    display: flex;
    justify-content: space-between;
  }
}

.collapse_container.house_page {
  gap: 70px;
  flex-direction: row;
  align-items: flex-start;

  .collapse_item {
    max-width: 1023px;
    border-radius: 15px;
    &_title {
      font-weight: 700;
      font-size: 18px;
    }
    &_text {
      li {
        list-style: none;
        line-height: 142.6%;
      }
    }
  }
}
