.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 100px 0px 100px;

  // @media screen and (max-width: 1024px) {
  //   padding: 30px;
  // }

  @media screen and (max-width: 768px) {
    padding: 40px 26px 20px 26px;
  }

  @media screen and (max-width: 400px) {
    padding: 20px;
  }

  &_logo {
    width: 210.322px;
    @media screen and (max-width: 768px) {
      width: 145px;
    }

    & img {
      @media screen and (max-width: 768px) {
        width: 145px;
      }
    }
  }

  &_navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 57px;
    color: #000;
    text-align: right;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    @media screen and (max-width: 768px) {
      font-size: 16px;
      gap: 35px;
    }

    @media screen and (max-width: 500px) {
      font-size: 12px;
      gap: 18px;
    }
  }

  & li {
    list-style: none;

    a {
      text-decoration: none;
      color: #000;
    }
  }
}
