@use "../../sass/_variables.scss";
@use "../../sass/_mixins.scss";

.banner,
.banner_about {
  @include mixins.flex-center;
  @include mixins.size(100%, 223px);
  @include mixins.font-style(48px, 700);
  color: variables.$white;
  background-size: cover;
  background-position: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;

  @media (max-width: 1200px) {
    font-size: 36px;
  }

  @media (max-width: 992px) {
    font-size: 30px;
  }

  @media (max-width: 768px) {
    font-size: 30px;
    justify-content: start;
    height: 170px;

    .banner_text {
      padding-left: 20px;
      .text-part1 {
        display: block;
      }
    }
  }

  @media (max-width: 576px) {
    font-size: 24px;
    height: 111px;
  }
}
